@model RecruitmentManagementApp.Models.Requests.UpsertCandidateRequest

<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Aviso</h4>
            </div>
            <span id="lblCandidateId" hidden></span>
            <div class="modal-body">
                <div class="form-group">
                    <span id="lblDeleteMessage">Está a punto de eliminar este registro:</span>
                </div>

                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-user"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextBoxFor(
                            model => model.Name,
                            new
                            {
                                @class = "form-control",
                                Id = "txtDeleteName",
                                style = "width: 80%; background-color: white;",
                                @readonly = true,
                            })
                    </div>
                </div>

                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.PhoneNumber)
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-phone-volume"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextBoxFor(
                            model => model.PhoneNumber,
                            new
                            {
                                @class = "form-control",
                                Id = "txtDeletePhoneNumber",
                                style = "width: 80%; background-color: white;",
                                @readonly = true,
                            })
                    </div>
                </div>

                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-envelope-open"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextBoxFor(
                            model => model.Email,
                            new
                            {
                                @class = "form-control",
                                Id = "txtDeleteEmail",
                                style = "width: 80%; background-color: white;",
                                @readonly = true,
                            })
                    </div>
                </div>
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Curriculum)
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-file-alt"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextAreaFor(
                            model => model.Curriculum,
                            new
                            {
                                @class = "form-control",
                                Id = "txtDeleteCurriculum",
                                style = "width: 80%; min-height: 90px; max-height: 90px; background-color: white;",
                                @readonly = true,
                            })
                    </div>
                </div>
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.GitHub)
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fab fa-github"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextAreaFor(
                            model => model.GitHub,
                            new
                            {
                                @class = "form-control",
                                Id = "txtDeleteGitHub",
                                style = "width: 80%; min-height: 90px; max-height: 90px; background-color: white;",
                                @readonly = true,
                            })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnDeleteCandidate">
                    <i class="fas fa-check"
                       aria-hidden="true">
                    </i>
                    De acuerdo
                </button>
                <button type="button" class="btn btn-deault" data-dismiss="modal">
                    <i class="fas fa-times"
                       aria-hidden="true">
                    </i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>