@model RecruitmentManagementApp.Models.Requests.UpsertCandidateRequest

<div class="modal fade" id="myModalCandidate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Crear - Editar</h4>
            </div>
            <div class="requiredFields">
                @Html.Label("", "Campos con (*) son obligatorios.", new { @class = "text-danger" })
            </div>
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control", Id = "txtId", hidden = true })
            <div class="modal-body">
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Name) @Html.Label("", "*", new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-user"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextBoxFor(
                            model => model.Name,
                            new
                            {
                                @class = "form-control",
                                Id = "txtName",
                                style = "width: 80%"
                            })
                        <span id="lblNameError" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.Curriculum) 
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-file-alt"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextAreaFor(
                            model => model.Curriculum,
                            new
                            {
                                @class = "form-control",
                                Id = "txtCurriculum",
                                style = "width: 80%; min-height: 90px; max-height: 90px;"
                            })
                        <span id="lblCurriculumError" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fieldNameAlign">
                        @Html.LabelFor(model => model.GitHub) 
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fab fa-github"
                                   aria-hidden="true">
                                </i>
                            </span>
                        </div>
                        @Html.TextAreaFor(
                            model => model.GitHub,
                            new
                            {
                                @class = "form-control",
                                Id = "txtGitHub",
                                style = "width: 80%; min-height: 90px; max-height: 90px;"
                            })
                        <span id="lblGitHubError" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpsert" onclick="return upsertCandidate();">
                    <i class="fas fa-save"
                       aria-hidden="true">
                    </i>
                    Guardar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"
                       aria-hidden="true">
                    </i>
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>